.App {
    text-align: center;
    display: flex;
    justify-content: center;
  }


li {
    text-decoration: none;
    list-style: none;
  }

.form-container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 500px;
    padding: 9px;

    Form {
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 5%;
      }
    }
  }